.nested_table-1 {
  // margin: 10px;K
  // justify-content: space-around;
  // flex-wrap: wrap;
}

.nested-table {
  margin-top: 20px;
}
.datatable-icon-right {
  background-color: black;
}
.datatable-icon-down {
  background-color: blue;
}
